{% extends "layout.html.twig" %}
{% block title %}
	<title>
		Acceuil
	</title>
{% endblock %}
{% block content %}
	<div id="home" class="intro route bg-image" style="background-image: url(../../../img/intro-bg.jpg)">
		<div class="overlay-itro"></div>
		<div class="intro-content display-table">
			<div class="table-cell">
				<div
					class="container">
					<!--<p class="display-6 color-d">Hello, world!</p>-->
					<h1 class="intro-title mb-4">Je suis Amiar Mohamed</h1>
					<p class="intro-subtitle">
						<span class="text-slider-items">Développeur Web,Web Designer,Développrur Frontend ,Graphic Designer,Développeur Backend,Développeur Symfony,Concéption d'applications</span>
						<strong class="text-slider"></strong>
					</p>
					<p class="pt-3">
						<a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a>
					</p>
				</div>
			</div>
		</div>
	</div>
	<section id="about" class="about-mf sect-pt4 route">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="box-shadow-full">
						<div class="row">
							<div class="col-md-6">
								<div class="row">
									<div class="col-sm-6 col-md-5">
										<div class="about-img">
											<img src="img/testimonial-2.png" class="img-fluid rounded b-shadow-a" alt="">
										</div>
									</div>
									<div class="col-sm-6 col-md-7">
										<div class="about-info">
											<p>
												<span class="title-s">Nom:
												</span>
												<span>Amiar</span>
											</p>
											<p>
												<span class="title-s">Prénom:
												</span>
												<span>Mohamed</span>
											</p>
											<p>
												<span class="title-s">Profile:
												</span>
												<span>Développeur full stack</span>
											</p>
											<p>
												<span class="title-s">Email:
												</span>
												<span>mohamed.amiar@gmail.com</span>
											</p>
											<p>
												<span class="title-s">Téléphone:
												</span>
												<span>07 6 26 06 92</span>
											</p>
										</div>
									</div>
								</div>
								<div class="skill-mf">
									<p class="title-s">Compétences</p>
									<span>HTML</span>
									<span class="pull-right">85%</span>
									<div class="progress">
										<div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
									<span>CSS3</span>
									<span class="pull-right">75%</span>
									<div class="progress">
										<div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
									<span>PHP</span>
									<span class="pull-right">55%</span>
									<div class="progress">
										<div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
									<span>JAVASCRIPT</span>
									<span class="pull-right">90%</span>
									<div class="progress">
										<div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
									<span>WORPRESS</span>
									<span class="pull-right">90%</span>
									<div class="progress">
										<div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
									<span>SYMFONY</span>
									<span class="pull-right">80%</span>
									<div class="progress">
										<div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
									<span>GIT& GITHUB</span>
									<span class="pull-right">70%</span>
									<div class="progress">
										<div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="about-me pt-4 pt-md-0">
									<div class="title-box-2">
										<h5 class="title-left">
											A Propos
										</h5>
									</div>
									<p class="lead">
										Issu d’une formation de Concepteur Développeur Web Je mets au point pour des clients ( et entreprises )
																																																												                                    des applications web, en prenant en charge l'ensemble du processus
																																																												                                    de développement logiciel (depuis l'analyse des besoins jusqu'à la mise en production ) en déterminant les
																																																												                                    solutions techniques adéquates et en respectant rigoureusement le cahier des charges
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!--/ Section Services Star /-->
	<section id="service" class="services-mf route">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="title-box text-center">
						<h3 class="title-a">
							Services
						</h3>
						<div class="line-mf"></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="service-box">
						<div class="service-ico">
							<span class="ico-circle">
								<i class="ion-monitor"></i>
							</span>
						</div>
						<div class="service-content">
							<h2 class="s-title">Aide au choix de plateforme</h2>
							<p class="s-description text-center">
								Vous hésitez entre WordPress, Wix ou Jimdo ? Nous avons résumé les avantages de ces plateformes, et apportons notre aide pour faire votre choix.
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="service-box">
						<div class="service-ico">
							<span class="ico-circle">
								<i class="ion-code-working"></i>
							</span>
						</div>
						<div class="service-content">
							<h2 class="s-title">Création de site web de A à Z</h2>
							<p class="s-description text-center">
								Nous créons votre site web entièrement après concertation et étude de votre projet. Nous le personnalisons par la suite à votre guise.
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="service-box">
						<div class="service-ico">
							<span class="ico-circle">
								<i class="ion-camera"></i>
							</span>
						</div>
						<div class="service-content">
							<h2 class="s-title">Optimisation du chargement</h2>
							<p class="s-description text-center">
								Un site plus fluide pour vos visiteurs: installation d’un CDN et d’un plugin de cache, optimisation des images et des polices.
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="service-box">
						<div class="service-ico">
							<span class="ico-circle">
								<i class="ion-android-phone-portrait"></i>
							</span>
						</div>
						<div class="service-content">
							<h2 class="s-title">Maintenance & Modifications</h2>
							<p class="s-description text-center">
								Maintenance et modifications de design, de fonctionnalités ou de contenu d’un site, sur les plateformes suivantes: WordPress, Wix.
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="service-box">
						<div class="service-ico">
							<span class="ico-circle">
								<i class="ion-paintbrush"></i>
							</span>
						</div>
						<div class="service-content">
							<h2 class="s-title">Gestion du domaine et de l'hébergement</h2>
							<p class="s-description text-center">
								Enregistrement et paramétrage de votre domaine, gestion tous fournisseurs: DNS, redirections, SSL et sécurité.
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="service-box">
						<div class="service-ico">
							<span class="ico-circle">
								<i class="ion-stats-bars"></i>
							</span>
						</div>
						<div class="service-content">
							<h2 class="s-title">Paramétrage du mail d'entreprise</h2>
							<p class="s-description text-center">
								Création, paramétrage et installation de votre mail vous@vous.fr sur vos divers appareils et via vos logiciels préférés.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--/ Section Services End /-->

	<div class="section-counter paralax-mf bg-image" style="background-image: url(img/counters-bg.jpg)">
		<div class="overlay-mf"></div>
		<div class="container">
			<div class="row">
				<div class="col-sm-3 col-lg-3">
					<div class="counter-box">
						<div class="counter-ico">
							<span class="ico-circle">
								<i class="ion-checkmark-round"></i>
							</span>
						</div>
						<div class="counter-num">
							<p class="counter">6</p>
							<span class="counter-text">TRAVAUX TERMINÉS</span>
						</div>
					</div>
				</div>
				<div class="col-sm-3 col-lg-3">
					<div class="counter-box pt-4 pt-md-0">
						<div class="counter-ico">
							<span class="ico-circle">
								<i class="ion-ios-calendar-outline"></i>
							</span>
						</div>
						<div class="counter-num">
							<p class="counter">1</p>
							<span class="counter-text">AN D'EXPERIENCE</span>
						</div>
					</div>
				</div>
				<div class="col-sm-3 col-lg-3">
					<div class="counter-box pt-4 pt-md-0">
						<div class="counter-ico">
							<span class="ico-circle">
								<i class="ion-ios-people"></i>
							</span>
						</div>
						<div class="counter-num">
							<p class="counter">5</p>
							<span class="counter-text">TOTAL CLIENTS</span>
						</div>
					</div>
				</div>
				<div class="col-sm-3 col-lg-3">
					<div class="counter-box pt-4 pt-md-0">
						<div class="counter-ico">
							<span class="ico-circle">
								<i class="ion-ribbon-a"></i>
							</span>
						</div>
						<div class="counter-num">
							<p class="counter">2</p>
							<span class="counter-text">DIPLÔME</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--/ Section Portfolio Star /-->
	<section id="work" class="portfolio-mf sect-pt4 route">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="title-box text-center">
						<h3 class="title-a">
							Portfolio
						</h3>
						<div class="line-mf"></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="work-box">
						<a href="img/chalets.png" data-lightbox="gallery-mf">
							<div class="work-img">
								<img src="img/chalets.PNG" alt="" class="img-fluid">
							</div>
							<div class="work-content">
								<div class="row">
									<div class="col-sm-8">
										<h2 class="w-title">Chalet et caviar</h2>
										<div class="w-more">
											<span class="w-ctegory">WordPress CMS</span>
											/
											<span class="w-date">18 Sep. 2018</span>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="w-like">
											<span class="ion-ios-plus-outline"></span>
										</div>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="work-box">
						<a href="img/planning.png" data-lightbox="gallery-mf">
							<div class="work-img">
								<img src="img/planning.png" alt="" class="img-fluid">
							</div>
							<div class="work-content">
								<div class="row">
									<div class="col-sm-8">
										<h2 class="w-title">Planning Projet</h2>
										<div class="w-more">
											<span class="w-ctegory">Gestion de Projet</span>
											/
											<span class="w-date">18 Sep. 2018</span>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="w-like">
											<span class="ion-ios-plus-outline"></span>
										</div>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="work-box">
						<a href="img/film.png" data-lightbox="gallery-mf">
							<div class="work-img">
								<img src="img/film.png" alt="" class="img-fluid">
							</div>
							<div class="work-content">
								<div class="row">
									<div class="col-sm-8">
										<h2 class="w-title">Fstival du film</h2>
										<div class="w-more">
											<span class="w-ctegory">HTML5/CSS</span>
											/
											<span class="w-date">18 Sep. 2018</span>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="w-like">
											<span class="ion-ios-plus-outline"></span>
										</div>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="work-box">
						<br>
						<a href="img/ecommerce.png" data-lightbox="gallery-mf">
							<div class="work-img">
								<img src="img/ecommerce.png" alt="" class="img-fluid">
							</div>
							<div class="work-content">
								<div class="row">
									<div class="col-sm-8">
										<br>
										<h2 class="w-title">Site Ecommerce</h2>
										<div class="w-more">
											<span class="w-ctegory">Symfony</span>
											/
											<span class="w-date">18 Sep. 2018</span>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="w-like">
											<span class="ion-ios-plus-outline"></span>
										</div>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="work-box">
						<a href="img/conception.png" data-lightbox="gallery-mf">
							<div class="work-img">
								<img src="img/conception.png" alt="" class="img-fluid">
							</div>
							<div class="work-content">
								<div class="row">
									<div class="col-sm-8">
										<h2 class="w-title">Concéption</h2>
										<div class="w-more">
											<br>
											<span class="w-ctegory">Concéption Web</span>
											/
											<span class="w-date">18 Sep. 2018</span>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="w-like">
											<span class="ion-ios-plus-outline"></span>
										</div>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="work-box">
						<a href="img/blog.png" data-lightbox="gallery-mf">
							<div class="work-img">
								<img src="img/blog.png" alt="" class="img-fluid">
							</div>
							<br>
							<!--  -->
							<div class="work-content">
								<div class="row">
									<div class="col-sm-8">
										<h2 class="w-title">Blog Professionnel</h2>
										<div class="w-more">
											<span class="w-ctegory">Pattern MVC</span>
											/
											<span class="w-date">18 Sep. 2017</span>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="w-like">
											<span class="ion-ios-plus-outline"></span>
										</div>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!--/ Section Portfolio End /-->

{% endblock %}
